* {
  margin: 0;
  padding: 0;
}

/*https://www.youtube.com/watch?v=vHr3Li0-SP0&list=LL&index=7&t=42s*/
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.container > .section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode:multiply;
}

.container > .section:nth-child(1) {
  background: red
    url("https://c4.wallpaperflare.com/wallpaper/365/244/884/uchiha-itachi-naruto-shippuuden-anbu-silhouette-wallpaper-preview.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container > .section:nth-child(2) {
  background: blue
    url("https://c4.wallpaperflare.com/wallpaper/68/833/267/suicide-squad-dc-comics-margot-robbie-harley-quinn-wallpaper-preview.jpg");
    background-size: cover;
    background-attachment: fixed;
}
